
<%= render 'shared/errors',obj: @ingredient %>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@ingredient, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class ="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name,class: "form-control", placeholder: "Enter gift",autofocus: true %>
        </div>
      </div>

      <div class ="form-group">
        <dic class="col-md-offset-2 col-md-10">
          <%= f.submit(@ingredient.new_record? ? "Add Gift" : "Update Gift",
                                        class: "btn btn-primary btn-lg btn-xlarge") %>
        </div>
      </div>

      
        
    <%end%>
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Cancel request and return to gifts listing", recipes_path%>]
    </div>
  </div>
</div>
